# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Data
data/raw/
data/processed/

# Models
models/*.joblib
models/*.pt
models/*.pth

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment variables
.env
